@import url('bootstrap/dist/css/bootstrap.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loginLayout{
  width: 80vw;
  height: 70vh;
  background-color:#ff8264;
}
.invalid-feedback{
  font-size: 12px;
}
a{
  text-decoration: none;
}
.formLR{
  background-color: white;
  font-size: 14px;
  text-align: start;
}

.designFromLogin{
  margin: auto;
  width: 70%;
  top:15vh;
  position: relative;
}

.designFromRegister{
  margin: auto;
  width: 70%;
  top:8vh;
  position: relative;
}

.popupModal{
  background-color: white;
  width: 30vw;
  border-radius: 10px;
  margin: auto;
  top: 35vh;
  position: relative;
  z-index: 3;
}
.modal{
  background: rgba(0, 0, 0, 0.6);

}